# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xclbin
hostexe

# Extra files 
*.BIN
*.bif
*.bin 
*.Xil
# Everything inside build
build/
Multiple_Engine/FP32/AIE16/_x
Multiple_Engine/FP32/AIE16/_x.hw.xilinx_vck5000_gen4x8_qdma_2_202220_1
Multiple_Engine/FP32/AIE16/.ipcache
Multiple_Engine/FP32/AIE16/.Xil
Multiple_Engine/FP32/AIE16/build_dir.hw.xilinx_vck5000_gen4x8_qdma_2_202220_1
Work 
Single_Engine/int8/sim
Single_Engine/int8/work_aie


# Everything inside .vscode
.vscode/

# Compilation database
compile_commands.json
.cache/*

# log files 
*.log
*.run_summary
*.package_summary