# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xclbin
hostexe

# Extra files 
*.BIN
*.bif
*.bin 
*.Xil
*.db
*.run

# Everything inside build
build/
Multiple_Engine/*/*/_x
Multiple_Engine/FP32/AIE16/_x.hw.xilinx_vck5000_gen4x8_qdma_2_202220_1
Multiple_Engine/*/*/.ipcache
Multiple_Engine/FP32/AIE16/.Xil
Multiple_Engine/FP32/AIE16/build_dir.hw.xilinx_vck5000_gen4x8_qdma_2_202220_1
Work 
Single_Engine/int8/sim
Single_Engine/int8/work_aie
Single_Engine/fp32
Multiple_Engine/*/*/sim
Multiple_Engine/fp32/AIE16/output
Single_Engine/fp32/work_aie/*
Single_Engine/fp32/sim/*
Multiple_Engine/fp32/AIE16_nocompute
Multiple_Engine/fp32/AIE16_nocompute_noPLtoAIE_COMM
Multiple_Engine/fp32/AIE16_nocompute_noMMtypeKernel
Multiple_Engine/fp32/AIE16_nocompute_noMMtypeKernel_noCascade
Multiple_Engine/fp32/AIE16_isolated
Multiple_Engine/fp32/AIE16_PLIO/sim_*


MAXEVA
Analytical_Model/CHARM/matmul_model.py
Single_Engine/*/x86simulator_output
# Keep the previous compilation done inside FP32 folder as is 
Multiple_Engine/FP32
Multiple_Engine/AIE_ML
Single_Engine/AIE_ML/Vitis-Tutorials
__pycache__
Single_Engine/AIE_ML/fp32/work_aie
Single_Engine/AIE_ML/fp32/.Xil

# Everything inside .vscode
.vscode/

# Compilation database
compile_commands.json
.cache/*

# log files 
*.log
*.run_summary
*.package_summary
*.AIE_SIM_CMD_LINE_OPTIONS
*.csv
*ISS_RPC_SERVER_PORT*
*pl_sample_counts*
.gitignore
#extra junk files 
Single_Engine/fp32_HW
Single_Engine/fp32_HW_sw_emu
Multiple_Engine/fp32/AIE16_sw_emu
Single_Engine/exp_output_hw_fp32_hw_intrinsic
Multiple_Engine/vck5000_runScript.sh
Single_Engine/int8/cfg
Single_Engine/int8/emulation_data
Single_Engine/int8/launch_hw_emu.sh
Single_Engine/int8/pmc_args.txt
Single_Engine/int8/qemu_args.txt
Single_Engine/int8/.ipcache
Single_Engine/int8/eff.sh
Single_Engine/int8/xilinx:pcie-hw-em:7v3:1.0-0-xilinx_vck5000_gen4x8_qdma_2_202220_1hw_emu.protoinst
Single_Engine/int8/xilinx:pcie-hw-em:7v3:1.0-0-xilinx_vck5000_gen4x8_qdma_2_202220_1hw_emu.wcfg
Single_Engine/int8/xilinx:pcie-hw-em:7v3:1.0-0-xilinx_vck5000_gen4x8_qdma_2_202220_1hw_emu.wdb
Single_Engine/int8/aiesim_options.txt
Single_Engine/int8/add_wave.tcl
Single_Engine/int8/eff.sh
Multiple_Engine/int8/AIE16/simulation
Multiple_Engine/int8/AIE16/aiesimulator_output