# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xclbin
hostexe

# Extra files 
*.BIN
*.bif
*.bin 
*.Xil
*.db
*.run

# Everything inside build
build/
Multiple_Engine/*/*/_x
Multiple_Engine/FP32/AIE16/_x.hw.xilinx_vck5000_gen4x8_qdma_2_202220_1
Multiple_Engine/*/*/.ipcache
Multiple_Engine/FP32/AIE16/.Xil
Multiple_Engine/FP32/AIE16/build_dir.hw.xilinx_vck5000_gen4x8_qdma_2_202220_1
Work 
Single_Engine/int8/sim
Single_Engine/int8/work_aie
Single_Engine/FP32
Multiple_Engine/*/*/sim
Multiple_Engine/fp32/AIE16/output
Single_Engine/fp32/work_aie/*
Single_Engine/fp32/sim/*
Multiple_Engine/fp32/AIE16_nocompute
Multiple_Engine/fp32/AIE16_nocompute_noPLtoAIE_COMM
Multiple_Engine/fp32/AIE16_nocompute_noMMtypeKernel
Multiple_Engine/fp32/AIE16_nocompute_noMMtypeKernel_noCascade
Multiple_Engine/fp32/AIE16_isolated
Multiple_Engine/fp32/AIE16_PLIO
MAXEVA
Analytical_Model/CHARM/matmul_model.py

# Keep the previous compilation done inside FP32 folder as is 
Multiple_Engine/FP32
Multiple_Engine/AIE_ML
Single_Engine/AIE_ML
__pycache__
# Everything inside .vscode
.vscode/

# Compilation database
compile_commands.json
.cache/*

# log files 
*.log
*.run_summary
*.package_summary
*.AIE_SIM_CMD_LINE_OPTIONS
*.csv
*ISS_RPC_SERVER_PORT*
*pl_sample_counts*
